// color
$darkblue: #0d0d2f;
$sky: #00adef;
$white: #fff;
$black: #000;
$gray: #c4c4c4;
$lightgray: #f5f5f5;
$purple: #7437f7;
$dark-purple: #535377;
$yellow: #ffb300;

// display size
$sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
$wide: 1900px;

// @function
@mixin fontsize($size) {
  font-size: $size;

  @media screen and (max-width: ($md)-1px) {
      font-size: $size - 0.2em;
  }
}
