.homepage .banner .swiper-wrapper .swiper-slide figure img {
  max-width: 100%;
  max-height: 550px;
}

.homepage .search-zone {
  background: #0d0d2f;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: .5em 1em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone {
    width: 65%;
  }
}

.homepage .search-zone .search-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c4c4c4;
}

.homepage .search-zone .search-head .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  padding-left: 1em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-head .left {
    padding-left: 1em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .search-zone .search-head .left {
    padding-left: 2em;
  }
}

.homepage .search-zone .search-head .left p {
  color: #c4c4c4;
  margin-right: 2em;
  cursor: pointer;
  padding: .25em 0;
}

.homepage .search-zone .search-head .left p:nth-child(2), .homepage .search-zone .search-head .left p:nth-child(3) {
  display: none;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-head .left p:nth-child(2), .homepage .search-zone .search-head .left p:nth-child(3) {
    display: block;
  }
}

.homepage .search-zone .search-head .left p.active {
  color: #00adef;
  border-bottom: 2px solid #00adef;
}

.homepage .search-zone .search-head .left p .number {
  color: #fff;
  background: #00adef;
  border-radius: 20px;
  font-size: .8em;
  padding: 0 1em;
}

.homepage .search-zone .search-head .right {
  display: none;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-head .right {
    display: block;
  }
}

.homepage .search-zone .search-head .right .manual {
  color: #c4c4c4;
  cursor: pointer;
}

.homepage .search-zone .search-head .select-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .5em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-head .select-mobile {
    display: none;
  }
}

.homepage .search-zone .search-head .select-mobile label {
  margin-right: 10px;
  color: #fff;
  font-size: .8em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box {
    padding: 1em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .search-zone .search-box {
    padding: 1em 2em;
  }
}

.homepage .search-zone .search-box .box-border {
  border-bottom: 1px solid #c4c4c4;
  padding: 1em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .box-border {
    -ms-grid-columns: 44% 56%;
        grid-template-columns: 44% 56%;
  }
}

.homepage .search-zone .search-box .box-border .left p {
  color: #fff;
}

.homepage .search-zone .search-box .box-border .left p.blue {
  color: #00adef;
}

.homepage .search-zone .search-box .box-border .left p.yellow {
  color: #ffb300;
}

.homepage .search-zone .search-box .box-border .left p.sub {
  font-size: .6em;
  color: #c4c4c4;
  margin-left: 2em;
  margin-bottom: 1em;
}

.homepage .search-zone .search-box .ber-interest .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .search-zone .search-box .ber-interest .right .input-ber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .search-zone .search-box .ber-interest .right .input-ber .num {
  width: 2em;
  height: 35px;
  border: unset;
  text-align: center;
  margin: 0 .15em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .ber-interest .right .input-ber .num {
    margin: 0 .25em;
  }
}

.homepage .search-zone .search-box .ber-interest .right .input-ber .keed {
  width: 10px;
  height: 2px;
  background: #c4c4c4;
}

.homepage .search-zone .search-box .ber-interest .right .random-ber {
  margin-left: 2em;
  display: none;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .ber-interest .right .random-ber {
    display: block;
  }
}

.homepage .search-zone .search-box .ber-interest .right .random-ber button:focus i {
  -webkit-animation: spin 1s ease-in-out;
          animation: spin 1s ease-in-out;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.homepage .search-zone .search-box .berlike-unlike .right .like, .homepage .search-zone .search-box .berlike-unlike .right .unlike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .search-zone .search-box .berlike-unlike .right .like .num, .homepage .search-zone .search-box .berlike-unlike .right .unlike .num {
  width: 2em;
  height: 35px;
  border: unset;
  text-align: center;
  margin: 0 .1em;
  margin-bottom: .5em;
  background: #535377;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.homepage .search-zone .search-box .berlike-unlike .right .like .num.active {
  background: #00adef;
  color: #000;
}

.homepage .search-zone .search-box .berlike-unlike .right .unlike .num.active {
  background: #ffb300;
  color: #000;
}

.homepage .search-zone .search-box .ber-cate .right .cate-select {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .ber-cate .right .cate-select {
    width: 350px;
  }
}

.homepage .search-zone .search-box .ber-cate .right .cate-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.homepage .search-zone .search-box .ber-cate .right .cate-select:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f13a';
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.homepage .search-zone .search-box .range-price .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .search-zone .search-box .range-price .right .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .search-zone .search-box .range-price .right .price .input-box {
  position: relative;
  width: 100px;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .range-price .right .price .input-box {
    width: 125px;
  }
}

.homepage .search-zone .search-box .range-price .right .price .input-box:after {
  content: attr(data-cur);
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  font-size: .6em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .range-price .right .price .input-box:after {
    font-size: 1em;
  }
}

.homepage .search-zone .search-box .range-price .right .price .input-box input {
  font-size: .8em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .range-price .right .price .input-box input {
    font-size: 1em;
  }
}

.homepage .search-zone .search-box .range-price .right .price .keed {
  width: 10px;
  height: 2px;
  background: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5em;
}

.homepage .search-zone .search-box .range-price .right .filter {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  width: 200px;
  height: 35px;
  background: #000;
  position: relative;
  margin-left: 2em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .range-price .right .filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.homepage .search-zone .search-box .range-price .right .filter .select-button {
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.homepage .search-zone .search-box .range-price .right .filter .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#00adef), to(#7437f7));
  background: linear-gradient(to right, #00adef, #7437f7);
  border-radius: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.homepage .search-zone .search-box .range-price .right .filter .bg.swif {
  left: 98px;
}

.homepage .search-zone .search-box .range-price .right .select-filter {
  margin-left: 5px;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .range-price .right .select-filter {
    display: none;
  }
}

.homepage .search-zone .search-box .range-price .right .select-filter select {
  background: -webkit-gradient(linear, left top, left bottom, from(#00adef), to(#7437f7));
  background: linear-gradient(#00adef, #7437f7);
  color: #fff;
  font-size: .6em;
}

.homepage .search-zone .search-box .ber-sum .right .sum-select {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .ber-sum .right .sum-select {
    width: 350px;
  }
}

.homepage .search-zone .search-box .ber-sum .right .sum-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.homepage .search-zone .search-box .ber-sum .right .sum-select:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f13a';
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.homepage .search-zone .search-box .brand-ber .right .brand-select {
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .search-box .brand-ber .right .brand-select {
    width: 350px;
  }
}

.homepage .search-zone .search-box .brand-ber .right .brand-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px 20px 5px 80px;
}

.homepage .search-zone .search-box .brand-ber .right .brand-select .icon-select {
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55px;
  height: 21px;
}

.homepage .search-zone .search-box .brand-ber .right .brand-select:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f13a';
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .bermean {
    padding: 1em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .search-zone .bermean {
    padding: 1em 2em;
  }
}

.homepage .search-zone .bermean .select-mean {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  margin-top: 1em;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .bermean .select-mean {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
}

.homepage .search-zone .bermean .select-mean .item {
  width: 108px;
  height: 88px;
  position: relative;
  padding: .25em;
}

.homepage .search-zone .bermean .select-mean .item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: .5em;
}

.homepage .search-zone .bermean .select-mean .item figure:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f521';
  position: absolute;
  top: 0;
  right: 5px;
  color: #ffb300;
  font-size: .6em;
}

.homepage .search-zone .bermean .select-mean .item p {
  text-align: center;
  color: #fff;
  font-size: .7em;
  padding: .25em;
}

.homepage .search-zone .bermean .select-mean .item .delete {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.homepage .search-zone .bermean .select-mean .item .delete i {
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}

.homepage .search-zone .bermean .select-mean .item .palm .left, .homepage .search-zone .bermean .select-mean .item .palm .right {
  position: absolute;
  top: 0;
}

.homepage .search-zone .bermean .select-mean .item .palm .left {
  left: -20px;
}

.homepage .search-zone .bermean .select-mean .item .palm .right {
  right: -20px;
}

.homepage .search-zone .bermean .filter-type {
  margin: 3em auto;
  width: 200px;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  position: relative;
  background: #000;
}

.homepage .search-zone .bermean .filter-type .select {
  width: 100px;
  padding: .5em;
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.homepage .search-zone .bermean .filter-type .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#00adef), to(#7437f7));
  background: linear-gradient(to right, #00adef, #7437f7);
  border-radius: 20px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.homepage .search-zone .bermean .filter-type .bg.right {
  left: 50%;
}

.homepage .search-zone .bermean .box-select {
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .bermean .box-select {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .search-zone .bermean .box-select {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
  }
}

.homepage .search-zone .bermean .box-select .item {
  width: 108px;
  height: 88px;
  cursor: pointer;
}

.homepage .search-zone .bermean .box-select .item.active figure {
  background: #ffb300;
}

.homepage .search-zone .bermean .box-select .item.active figure:after {
  color: #fff;
}

.homepage .search-zone .bermean .box-select .item.active p {
  background: #fff;
  color: #000;
}

.homepage .search-zone .bermean .box-select .item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: .5em;
  position: relative;
  padding-top: .25em;
  border-radius: 5px 5px 0 0;
}

.homepage .search-zone .bermean .box-select .item figure:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: '\f521';
  position: absolute;
  top: 3px;
  right: 5px;
  color: #ffb300;
  font-size: .6em;
}

.homepage .search-zone .bermean .box-select .item p {
  text-align: center;
  color: #c4c4c4;
  font-size: .6em;
  height: 41px;
  border-radius: 0 0 5px 5px;
}

.homepage .search-zone .bermean .box-select-detailed {
  margin-top: 4em;
}

.homepage .search-zone .bermean .box-select-detailed .boxselect {
  width: 200px;
  margin: auto;
}

.homepage .search-zone .bermean .box-select-detailed .box {
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .bermean .box-select-detailed .box {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    height: 300px;
    overflow-y: auto;
  }
  .homepage .search-zone .bermean .box-select-detailed .box::-webkit-scrollbar {
    width: 5px;
  }
  .homepage .search-zone .bermean .box-select-detailed .box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #535377;
  }
  .homepage .search-zone .bermean .box-select-detailed .box::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid slategrey;
  }
}

@media screen and (min-width: 1900px) {
  .homepage .search-zone .bermean .box-select-detailed .box {
    -ms-grid-columns: (1fr)[10];
        grid-template-columns: repeat(10, 1fr);
    grid-column-gap: unset;
  }
}

.homepage .search-zone .bermean .box-select-detailed .box .item {
  width: 108px;
  height: 88px;
  cursor: pointer;
}

.homepage .search-zone .bermean .box-select-detailed .box .item.active figure {
  background: #ffb300;
}

.homepage .search-zone .bermean .box-select-detailed .box .item.active figure:after {
  color: #fff;
}

.homepage .search-zone .bermean .box-select-detailed .box .item.active p {
  background: #fff;
  color: #000;
}

.homepage .search-zone .bermean .box-select-detailed .box .item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: .5em;
  position: relative;
  padding-top: .25em;
  border-radius: 5px 5px 0 0;
}

.homepage .search-zone .bermean .box-select-detailed .box .item p {
  text-align: center;
  color: #c4c4c4;
  font-size: .6em;
  height: 41px;
  border-radius: 0 0 5px 5px;
}

.homepage .search-zone .fortune-ber {
  padding: 1em 0;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .fortune-ber {
    padding: 2em;
  }
}

.homepage .search-zone .fortune-ber .title {
  color: #fff;
  font-size: 1em;
  text-align: center;
}

.homepage .search-zone .fortune-ber p {
  color: #c4c4c4;
  font-size: .8em;
  text-align: center;
}

.homepage .search-zone .fortune-ber .input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .fortune-ber .input-box {
    width: 400px;
  }
}

.homepage .search-zone .fortune-ber .input-box input {
  width: 24px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  margin: 0 2px;
}

.homepage .search-zone .fortune-ber .input-box .keed {
  background: #fff;
  width: 10px;
  height: 3px;
  margin: 0 5px;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .fortune-ber .input-box .keed {
    margin: 0 10px;
  }
}

.homepage .search-zone .fortune-ber .input-box .palm {
  display: none;
}

@media screen and (min-width: 1280px) {
  .homepage .search-zone .fortune-ber .input-box .palm {
    display: block;
  }
}

.homepage .search-zone .fortune-ber .input-box .palm .left, .homepage .search-zone .fortune-ber .input-box .palm .right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.homepage .search-zone .fortune-ber .input-box .palm .left {
  left: 0;
}

.homepage .search-zone .fortune-ber .input-box .palm .right {
  right: 0;
}

.homepage .search-zone .fortune-ber .button {
  margin-top: 2em;
  text-align: center;
}

.homepage .confirm-search {
  background: #0d0d2f;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
}

@media screen and (min-width: 1280px) {
  .homepage .confirm-search {
    width: 65%;
  }
}

.homepage .confirm-search .group-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .confirm-search .group-button button {
  margin: 0 2em;
  width: 100px;
}

@media screen and (min-width: 1280px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide, .homepage .slide3 .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10em;
  }
}

.homepage .slide1 .swiper-wrapper .swiper-slide figure, .homepage .slide3 .swiper-wrapper .swiper-slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide figure, .homepage .slide3 .swiper-wrapper .swiper-slide figure {
    margin-left: 5em;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide .detail, .homepage .slide3 .swiper-wrapper .swiper-slide .detail {
    padding: 0 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide .detail, .homepage .slide3 .swiper-wrapper .swiper-slide .detail {
    padding: 0 10em;
  }
}

.homepage .slide1 .swiper-wrapper .swiper-slide .detail p, .homepage .slide3 .swiper-wrapper .swiper-slide .detail p {
  color: #000;
}

.homepage .slide1 .swiper-wrapper .swiper-slide .detail p.title, .homepage .slide3 .swiper-wrapper .swiper-slide .detail p.title {
  margin-bottom: 1em;
}

@media screen and (min-width: 1280px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide .detail p.title, .homepage .slide3 .swiper-wrapper .swiper-slide .detail p.title {
    font-size: 1.6em;
    font-weight: 500;
    height: 3em;
    overflow: hidden;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide .detail p.title, .homepage .slide3 .swiper-wrapper .swiper-slide .detail p.title {
    font-size: 2em;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .slide1 .swiper-wrapper .swiper-slide .detail p.desc, .homepage .slide3 .swiper-wrapper .swiper-slide .detail p.desc {
    height: 4.2em;
    overflow: hidden;
  }
}

.homepage .slide1 .swiper-wrapper .swiper-slide .detail button, .homepage .slide3 .swiper-wrapper .swiper-slide .detail button {
  margin: 2em 0;
}

.homepage .slide1 .swiper-wrapper .swiper-slide .detail .social p, .homepage .slide3 .swiper-wrapper .swiper-slide .detail .social p {
  color: #c4c4c4;
}

.homepage .slide1 .swiper-wrapper .swiper-slide .detail .social p i, .homepage .slide3 .swiper-wrapper .swiper-slide .detail .social p i {
  margin: 0 .5em;
}

.homepage .slide1 .swiper-pagination, .homepage .slide3 .swiper-pagination {
  bottom: 0;
  left: unset;
  width: 100%;
  right: 0;
  text-align: right;
  -webkit-transform: unset;
          transform: unset;
  margin-right: 300px;
}

.homepage .slide1 .swiper-pagination .swiper-pagination-bullet-active, .homepage .slide3 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00adef !important;
}

.homepage .slide1 .swiper-pagination .swiper-pagination-bullet, .homepage .slide3 .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  border: 1px solid #00adef;
}

.homepage .slide1 .swiper-button-next, .homepage .slide3 .swiper-button-next {
  right: 20px;
}

.homepage .slide1 .swiper-button-prev, .homepage .slide3 .swiper-button-prev {
  left: 20px;
}

.homepage .slide1 .swiper-button-prev:after, .homepage .slide3 .swiper-button-prev:after {
  position: absolute;
  left: -20px;
}

@media screen and (min-width: 1280px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10em;
  }
}

.homepage .slide2 .swiper-wrapper .swiper-slide figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1280px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide figure {
    margin-left: 5em;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide .detail {
    padding: 0 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide .detail {
    padding: 0 10em;
  }
}

.homepage .slide2 .swiper-wrapper .swiper-slide .detail p {
  color: #000;
}

.homepage .slide2 .swiper-wrapper .swiper-slide .detail p.title {
  margin-bottom: 1em;
}

@media screen and (min-width: 1280px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide .detail p.title {
    font-size: 1.6em;
    font-weight: 500;
    height: 3em;
    overflow: hidden;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide .detail p.title {
    font-size: 2em;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .homepage .slide2 .swiper-wrapper .swiper-slide .detail p.desc {
    height: 4.2em;
    overflow: hidden;
  }
}

.homepage .slide2 .swiper-wrapper .swiper-slide .detail button {
  margin: 2em 0;
}

.homepage .slide2 .swiper-wrapper .swiper-slide .detail .social p {
  color: #c4c4c4;
}

.homepage .slide2 .swiper-wrapper .swiper-slide .detail .social p i {
  margin: 0 .5em;
}

.homepage .slide2 .swiper-pagination {
  bottom: 0;
}

.homepage .slide2 .swiper-pagination .swiper-pagination-bullet-active {
  background: #00adef !important;
}

.homepage .slide2 .swiper-pagination .swiper-pagination-bullet {
  background: #fff;
  border: 1px solid #00adef;
}

.homepage .slide2 .swiper-button-next {
  right: 20px;
}

.homepage .slide2 .swiper-button-prev {
  left: 20px;
}

.homepage .slide2 .swiper-button-prev:after {
  position: absolute;
  left: -20px;
}

.homepage .slide3 {
  margin-bottom: 4em;
}

.homepage .warp-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2em 0;
}

.homepage .warp-element li {
  color: #00adef;
  border: 1px solid #00adef;
  border-radius: 5px;
  background: #fff;
  margin: 0 1em;
  padding: 5px 15px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.homepage .warp-element li.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#00adef), to(#7437f7));
  background: linear-gradient(#00adef, #7437f7);
  color: #fff;
}

@media (hover: hover) {
  .homepage .warp-element li:hover {
    background: #00adef;
    color: #fff;
  }
}

.homepage .grid-box {
  margin-bottom: 6em;
}

.homepage .grid-box .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0d0d2f;
  padding: 5px 15px;
  border-radius: 3px;
}

.homepage .grid-box .head .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.homepage .grid-box .head .title h2 {
  color: #fff;
}

.homepage .grid-box .head .title p {
  margin-left: 10px;
  color: #ffb300;
}

.homepage .grid-box .head button {
  width: 100px;
}

.homepage .grid-box .grid-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
  margin: 1em 0;
}

@media screen and (min-width: 1280px) {
  .homepage .grid-box .grid-item {
    -ms-grid-columns: (283px)[4];
        grid-template-columns: repeat(4, 283px);
    grid-column-gap: 3.3em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .grid-box .grid-item {
    -ms-grid-columns: (283px)[5];
        grid-template-columns: repeat(5, 283px);
    grid-column-gap: 2em;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .homepage .grid-box .grid-item a:nth-child(5) {
    display: none;
  }
}

.homepage .grid-box .grid-item .item {
  position: relative;
  width: 283px;
  height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.homepage .grid-box .grid-item .item .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 5px;
}

.homepage .grid-box .grid-item .item .detail figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .grid-box .grid-item .item .detail figure img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .grid-box .grid-item .item .detail .right {
  margin-left: 10px;
}

.homepage .grid-box .grid-item .item .detail .right .name {
  color: #fff;
  height: 1.4em;
  overflow: hidden;
}

.homepage .grid-box .grid-item .item .detail .right .ber-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .grid-box .grid-item .item .detail .right .ber-star .ber {
  color: #fff;
  font-size: .6em;
}

.homepage .grid-box .grid-item .item .detail .right .ber-star .star {
  margin-left: 10px;
  font-size: .6em;
  color: #ffb300;
}

.homepage .grid-box .grid-item .item .detail .right .accesibility span {
  color: #fff;
  font-size: .8em;
}

.homepage .grid-box .grid-item .item .detail .right .accesibility .pro {
  background: #00adef;
  border-radius: 3px;
  padding: 1px 5px;
}

.homepage .grid-box .grid-item .item .detail .right .accesibility .follow {
  background: #00adef;
  border-radius: 3px;
  padding: 1px 5px;
}

.homepage .grid-box .grid-item .item .detail .right .accesibility .store {
  color: #00adef;
}

.homepage .grid-box .grid-item .item .detail .right .accesibility .crown {
  color: #ffb300;
}

.homepage .grid-box .grid-item .item .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage .grid-box .grid-item .item .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .grid-box .grid-item .item .bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0000002c;
}

.homepage .grid-box .grid-ber {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
  margin: 1em 0;
}

@media screen and (min-width: 1280px) {
  .homepage .grid-box .grid-ber {
    -ms-grid-columns: (283px)[4];
        grid-template-columns: repeat(4, 283px);
    grid-column-gap: 3.3em;
    grid-row-gap: 3em;
  }
}

@media screen and (min-width: 1536px) {
  .homepage .grid-box .grid-ber {
    -ms-grid-columns: (283px)[5];
        grid-template-columns: repeat(5, 283px);
    grid-column-gap: 2em;
  }
}

.homepage .grid-box .grid-ber .item {
  width: 283px;
  height: 148px;
}

.homepage .grid-box .grid-ber .item .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: .8em;
  margin-bottom: .5em;
}

.homepage .grid-box .grid-ber .item .time.timeup i {
  color: #ffb300;
}

.homepage .grid-box .grid-ber .item .time.timeup p {
  background: #ffb300;
  color: #000;
}

.homepage .grid-box .grid-ber .item .time i {
  color: #00adef;
  margin-right: 10px;
}

.homepage .grid-box .grid-ber .item .time p {
  background: #00adef;
  color: #fff;
  border-radius: 3px;
  padding: 1px 5px;
}

.homepage .grid-box .grid-ber .item .ber {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  background: #f5f5f5;
  padding: 5px;
  margin-bottom: .25em;
}

.homepage .grid-box .grid-ber .item .ber .logober {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .grid-box .grid-ber .item .ber .logober img {
  width: 61px;
  height: 32px;
}

.homepage .grid-box .grid-ber .item .detail {
  padding: 5px;
  background: #f5f5f5;
}

.homepage .grid-box .grid-ber .item .detail .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

.homepage .grid-box .grid-ber .item .detail .sum p {
  font-size: .8em;
}

.homepage .grid-box .grid-ber .item .detail .sum p:nth-child(1) {
  font-weight: 600;
}

.homepage .grid-box .grid-ber .item .detail .sum p:nth-child(2) {
  font-weight: 300;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber {
  margin: 5px 0;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber p {
  font-size: .8em;
  font-weight: 600;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .grade {
  background: #00adef;
  color: #fff;
  padding: 1px 5px;
  font-size: .8em;
  border-radius: 5px;
  margin-right: 5px;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .store {
  margin-right: 5px;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .store i {
  color: #00adef;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .like {
  margin-right: 5px;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .like i {
  color: #ff7575;
  cursor: pointer;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .unlike {
  margin-right: 5px;
}

.homepage .grid-box .grid-ber .item .detail .grade-ber .icon .unlike i {
  color: #c4c4c4;
  cursor: pointer;
}

.homepage .grid-box .grid-ber .item .detail .price p {
  font-size: .8em;
  font-weight: 600;
}

.homepage .bitber {
  margin-top: 4em;
}

@media screen and (min-width: 1280px) {
  .homepage .article {
    position: relative;
    padding: 3em 0;
  }
}

.homepage .article h2 {
  text-align: center;
  color: #fff;
}

.homepage .article .article-slide {
  padding: 0 6em;
  margin: 3em auto;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box {
  width: 270px;
  height: 433px;
  display: inline-block;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box figure img {
  width: 270px;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 3px 3px;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail {
  background: #fff;
  height: 163px;
  border-radius: 0 0 3px 3px;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1em;
  padding-top: .25em;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar .left .like, .homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar .left .share {
  margin-right: 10px;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar .left .like i, .homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar .left .share i {
  color: #c4c4c4;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .menu-bar .right .date {
  color: #c4c4c4;
  font-size: .9em;
  font-weight: 300;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .name {
  margin: .5em 0;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .name figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .name figure img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .title {
  padding: 0 1em;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .title h3 {
  font-size: 1em;
  font-weight: 500;
  overflow: hidden;
  height: 1.4em;
}

.homepage .article .article-slide .swiper-wrapper .swiper-slide a .box .detail .desc {
  padding: 0 1.2em;
  font-size: .8em;
  margin-top: .5em;
  height: 4.4em;
  overflow: hidden;
}

.homepage .article .article-slide .swiper-button-next {
  right: 20px;
}

.homepage .article .article-slide .swiper-button-prev {
  left: 30px;
}

.homepage .article .article-slide .swiper-button-prev:after {
  left: -30px;
  position: absolute;
}

.homepage .article .button-all-article {
  text-align: center;
  margin: 2em 0;
}

.homepage .article > .bg {
  display: none;
}

@media screen and (min-width: 1280px) {
  .homepage .article > .bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .homepage .article > .bg img {
    width: 100%;
    height: 100%;
  }
}

.homepage .package {
  margin: 3em auto;
}

.homepage .package .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0d0d2f;
  padding: 5px 15px;
  border-radius: 3px;
}

.homepage .package .head .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.homepage .package .head .title h2 {
  color: #fff;
}

.homepage .package .select-brand {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding: 0 8em;
  padding-bottom: 3em;
  border-bottom: 2px dashed #c4c4c4;
}

@media (hover: hover) {
  .homepage .package .select-brand .item:hover figure img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .homepage .package .select-brand .item:hover button {
    background: #00adef;
    color: #fff;
  }
}

.homepage .package .select-brand .item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: .5em;
  overflow: hidden;
}

.homepage .package .select-brand .item figure img {
  width: 61px;
  height: 32px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.homepage .package .select-brand .item button {
  width: 100%;
  background: #fff;
  border: 1px solid #00adef;
  border-radius: 5px;
  color: #00adef;
}

.homepage .package .select-brand .item button.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#00adef), to(#7437f7));
  background: linear-gradient(#00adef, #7437f7);
  color: #fff;
}

.homepage .package .select-type-package p {
  text-align: center;
}

.homepage .package .select-type-package .select {
  margin: 2em auto;
  position: relative;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #00adef;
  border-radius: 10px;
}

.homepage .package .select-type-package .select .select-button {
  width: 100px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  color: #00adef;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.homepage .package .select-type-package .select .select-button.active {
  color: #fff;
}

.homepage .package .select-type-package .select > .bg {
  background: -webkit-gradient(linear, left top, right top, from(#00adef), to(#7437f7));
  background: linear-gradient(to right, #00adef, #7437f7);
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  border-radius: 8px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.homepage .package .select-type-package .select > .bg.left {
  right: 50%;
}

.homepage .package .name-package {
  text-align: center;
}

.homepage .package .name-package p {
  font-size: 1.4em;
  font-weight: 500;
}

.homepage .package .package-slide {
  margin: 2em 0;
}

.homepage .package .package-slide .swiper-wrapper {
  padding: 0 6em;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide {
  width: 300px !important;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box {
  width: 300px;
  height: 510px;
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .title {
  height: 87px;
  background: #00adef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px 5px 0 0;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .title p {
  text-align: center;
  color: #fff;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .detail {
  height: calc(510px - 87px);
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .detail .price {
  text-align: center;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .detail .price span:first-child {
  font-size: 2em;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .detail .price span:last-child {
  font-size: .8em;
  color: #c4c4c4;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .detail .content {
  text-align: center;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box .detail .button {
  width: 120px;
}

.homepage .package .package-slide .swiper-wrapper .swiper-slide .box > .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage .package .package-slide .swiper-button-next {
  right: 20px;
}

.homepage .package .package-slide .swiper-button-prev {
  left: 30px;
}

.homepage .package .package-slide .swiper-button-prev:after {
  position: absolute;
  left: -20px;
}

.homepage .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4em;
}

.homepage .pagination .prev {
  margin-right: 10px;
}

.homepage .pagination .next {
  margin-left: 10px;
}

.homepage .pagination .page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .pagination .page a {
  margin: 0 3px;
}

.homepage .pagination .page a li {
  width: 32px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0d0d2f;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.homepage .pagination .page a li.current {
  background: #ffb300;
  color: #0d0d2f;
}

@media (hover: hover) {
  .homepage .pagination .page a li:hover {
    color: #ffb300;
  }
}

.homepage .head-bit {
  margin-bottom: 6em;
}

.homepage .head-bit .title-bit {
  background: #0d0d2f;
  border-radius: 5px;
  padding: .5em;
}

.homepage .head-bit .title-bit p {
  color: #fff;
  text-align: center;
  font-size: 1.6em;
}

.homepage .head-bit .bit-slide {
  margin-top: 1em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box {
  width: calc(100vw / 3 - 30px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #0d0d2f;
  border-radius: 10px;
  padding: 1em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .head-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .head-box > p {
  color: #fff;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .head-box .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .head-box .time i {
  color: #ffb300;
  font-size: 26px;
  margin-right: .25em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .head-box .time p {
  color: #0d0d2f;
  background: #ffb300;
  border-radius: 3px;
  padding: 2px 10px;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box {
  background: #f5f5f5;
  border-radius: 5px;
  margin-top: 1em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .ber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 1em;
  border-bottom: 2px solid #fff;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .ber p {
  font-size: 2em;
  margin-left: 1em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  padding: .5em 1em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .sum p:last-child {
  width: 70%;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box p {
  background: #00adef;
  color: #fff;
  padding: 0 5px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: .8em;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box .shop {
  margin-right: 10px;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box .shop i {
  color: #00adef;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box .like {
  margin-right: 10px;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box .like i {
  color: #FF7575;
  cursor: pointer;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box .unlike {
  margin-right: 10px;
}

.homepage .head-bit .bit-slide .swiper-wrapper .box .body-box .grade .grade-box .unlike i {
  color: #c4c4c4;
  cursor: pointer;
}

.homepage .head-bit .pagi-slide-bit {
  text-align: center;
}

.homepage .head-bit .pagi-slide-bit .swiper-pagination-bullet {
  margin: 0 5px;
}
/*# sourceMappingURL=home.css.map */